.add_btn {
  text-align: right;
}

.container {
  overflow-x: auto;
}

.card {
  border: 1px solid black;
  width: 500px;
}

.img-card img {
  width: 150px;
  height: 150px;
}

.card-details h3 span {
  font-weight: 400;
}
.card-details h5 span {
  font-weight: 400;
  font-size: 16px;
}

.card-button {
  text-align: right;
}

@media screen and (max-width: 500px) {
  .card-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
